{{>header}}


<body>
<section class="listaClientes">
    <ul class="list-group">
        <li class="list-group-item">Nuestros clientes: </li>

        <li class="list-group-item list-group-item-primary">Estudio Cervini - Contadores Públicos, auditores y
            consultores
            Contadores Públicos | Ayacucho 163 Piso 1, B1718CGC San Antonio de Padua, Provincia de Buenos Aires</li>
        <li class="list-group-item list-group-item-secondary">HELADERIA GRIDO | Av. Hipólito Yrigoyen 477, B1722 JLD,
            Provincia de Buenos Aires</li>
        <li class="list-group-item list-group-item-success">Martins & Asociados | Productores Asesores de Seguros |
            Pedro Noguera 169, B1718 San Antonio de Padua Provincia de Buenos Aires </li>
        <li class="list-group-item list-group-item-danger">Estudio KEG | Independencia 361, B1722 San Antonio de Padua,
            Provincia de Buenos Aires</li>
        <li class="list-group-item list-group-item-warning">Estudio contable Nicodemo | Llavallol D Acosta 65, San
            Antonio de Padua, Provincia de Buenos Aires </li>
        <li class="list-group-item list-group-item-info">Lords Boutique | Ayacucho 92, B1718 San Antonio de Padua, Provincia de Buenos Aires</li>
        <li class="list-group-item list-group-item-light">Supermecados Disco, vea, CENCOSUD</li>
       
    </ul>
    </section>

    {{>footer}}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>