{{>header}}
<body>
   <section class="enviado">
    <h1>Mensaje enviado, gracias por contactarnos. <br>
    Será contactado a la brevedad
    <br>
    <br>
    
    
    </h1>

</section>

{{>footer}}

 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>

    <script src="assets/js/bootstrap.min.js"></script>
</body>


</html>